/* @override 
	http://whatever.local/stylesheets/base.css?1237006841
	http://whatever.local/stylesheets/base.css?1237009107
	http://whatever.local/stylesheets/base.css?1237010326
*/

/* === Ada's CSS Style == */

body { 
	  background:url(images/bg.gif) bottom;
	  background-color: #fff; color: #333; }

h2 {
	  color:#244532;
}

a {
	text-decoration:none;
	color:#0068AD
}

a:hover {
	text-decoration: underline;
	color:#fff;
	background-color:#000
}

.centerFieldset {
	text-align:center;
}

.centerFieldset fieldset{
	display:inline;
	padding-left:100px;
	text-align:left;
}


/* === FLASH MESSAGES === */
div#flash-notice {
	
	text-align: center;
	color:#B52728;
	
}

div#flash-warning {
	
}

div#flash-error {
	
}

/* === ERROR MESSAGES === */
div#errorExplanation {
	
}

div#errorExplanation h2 {
	
}

div#errorExplanation p {
	
}

div#errorExplanation ul {
	
}

div#errorExplanation ul li {
	
}

/* === FORMS === */
div.fieldWithErrors {
	
}

div.fieldWithErrors label {
	
}

div.fieldWithErrors input, div.fieldWithErrors select, 
div.fieldWithErrors textarea
{
	
}

/* @group Application Header */

img#wus_logo {
	width: 60px;
	height:  60px;
}

span#wus_title.wus_title {
	font-size: 2em;
	font-weight: bold;
	display: inline-block;
}

#wus_header {
	display: inline-block;
	vertical-align: middle;
}

div#application_header {
	border-bottom: 1px dotted;
	border-color: lightblue;
	padding-bottom: 7px;
}

div#user_actions {
	float: right;
}


/* @end */


/* @group My Group */

div#chat_messages {
	height: 400px;
	overflow: auto;
	background: white;
}

input#message_body {
	width: 600px;
	height: 30px;
}

/* @end */