/* @override 
	http://whatever.local/stylesheets/base.css*
	http://whatever.local/stylesheets/base.css?1241668842
	http://whatever.local/stylesheets/base.css?1241668930
	http://whatever.local/stylesheets/base.css
*/

body {
	text-align:center;
	background-color: #CCCCCC;
	height:944px;
}

a img{
	border: none;
}

div.index_actions {
	float: right;
	border: dashed grey 1px;
	padding: 3px;
}

div#chats_panel {
	padding: 10px;
}

div#chats_panel table{
	margin-top: 10px;
}

div#chats_panel table tbody tr td{
	padding-right: 8px;
	padding-left: 5px;
	font-size: 1.2em;
	line-height: 1.7em;
}

div#buddies_panel table tbody tr:hover,
div#chats_panel table tbody tr:hover,
table tbody tr:hover{
	background: lightblue;
}

#buddies_panel{
	padding: 10px;
}

#buddies_panel h3{
	font-size: 1.5em;
	margin-top: 10px;
}

div#buddies_panel table tbody tr td{
	padding-right: 8px;
	padding-left: 5px;
	font-size: 1.2em;
	line-height: 1.7em;
}

div#dashboard_buddylist {
	float: left;
	width: 49%;
	padding: 5px;
	border-right: dashed lightgray 1px;
}

div#dashboard_stats {
	float: right;
	width: 49%;
	color: black;
	padding-top: 5px;
}

#dashboard_statistics_table tbody tr td {
	color: black;
	font-size: 1.1em;
}

#dashboard_statistics_table {
	width: 100%;
}

div#active_chats {
	padding-left: 4px;
	border-bottom: 2px solid lightgray;
	font-size: 1.1em;
}

#active_chats strong {
	font-weight: bold;
}

#active_chats a{
	display: inline-block;
	margin-top: 3px;
	margin-right: 5px;
	background: lightgray;
	padding: 4px;
}

#active_chats a:hover{
	color: black;
	background-color: lightblue;
	text-decoration: none;
}

#dashboard_buddylist table {
	width: 100%;
}

#dashboard_buddylist table tbody tr td {
	padding: 3px;
	font-size: 1.1em;
}

table tbody tr td a:hover {
	background: none;
	color: black;
}

#dashboard_buddylist table tbody tr td:hover {
	background: lightblue;
}

table tbody tr.grey {
	background: lightgray;
}

ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  color:#0000F8;
}

h2 {
	  color:#244532;
	  font-size: 16pt;	  
}

a {
	text-decoration:none;
	color:#000000
}
a:hover {
	text-decoration: underline;
	color:#fff;
	background-color:#000
}


#wrap {
	width:847px;
	text-align:left;
	margin:0 auto;
	position: relative;
	top:10px;
}
.float-l {
	float:left
}
.float-r {
	float:right
}
.clearfix {
	clear:both
}
/* header */
#wus_header {
	height:147px;
	background:url(images/hd.gif);
	position:relative
}
#nav {
	background:url(images/nav.gif);
	height:43px;
	top:148px;
	width:847px;
}
ul#nav {
}
ul#nav li {
	display:inline;
	float:left;
}

ul#nav li2{
	display:inline;
	float:right;
	
}

ul#nav a {
	color: #FFFFFF;
	line-height: 43px;
	margin: 0 10px;
	font-size: 1.3em;
}


ul#nav li a:hover {
	background-color: green;
	text-decoration: none;
}

ul#nav li2 a:hover {
	background-color: green;
}

#logo {
	position:absolute;
	top:40px;
	left:100px
}
#logo h1 {
	font-size:24px;
	color:#FFFFFF
}
#logo div {
	padding-left:100px
}
/* content */

.centerFieldset {
	text-align:center;
}

.centerFieldset fieldset{

	border:2;
	display:inline;
	padding-left:100px;
	text-align:left;
}

.centerFieldset b{
	color:#244532;
}

legend {
	text-align:left;
}

label {
	color:#244532;
	font-weight:bold;
}

#content {
	min-height:540px;
	background:#FFFFFF
}
#content .left {
	width:400px;
	background:#FFFFFF url(images/l.gif) no-repeat;
	padding:0 50px
}
#content .left h2 {
	color:#608803;
	font-size:20px;
	padding:20px 0
}
#content .left a {
	color:#336633
}
#content .left li{
	color:black;
	font-weight:bold;
}

#content .right {
	width:345px;
	background:#FFFFFF url(images/r.gif) no-repeat;
	border-left:#403f40 1px solid;
	min-height:540px;
}
#side #top {
	background:url(images/g_top.gif);
	height:190px;
    width: 200px;

}
#side #bm {

	background:url(images/g_top.gif);
	height:190px;
	width: 200px;

}
#top, #bm {
	width:200px;
	margin: 0 auto;
	margin-top:30px;
    padding: 18px;
	}
#side h2 {
	font-size:20px;
	color:#FFFFFF;
	padding:15px 0 10px 0
}
#side li {
	list-style: url(images/ar.gif) inside;
	line-height:20px
}

/* === FLASH MESSAGES === */

div#notice {	
	text-align: center;
	color: blue;
}

div#flash-notice {	
	text-align: center;
	color: blue;
}

div#flash-warning {
	text-align: center;
	color:red;
}

div#flash-error {
	text-align: center;
	color:red;
}

/* @group My Group */

div#chat_messages {
	height: 400px;
	overflow: auto;
	background: white;
}

input#message_body {
	width: 600px;
	height: 30px;
}

/* @end */


/* footer */

#footer {
	height:70px;s
	margin-left: 50px;
	margin-top: 14px;
	position:relative
}
#xhtml {
	position: absolute;
	top:20px;
	left:550px
}
.q {
	width:130px;
	padding:5px 0
}
.submit {
	background:url(images/submit.gif) no-repeat;
	height:31px;
	width:27px;
	border:0;
}


.fieldWithErrors {
  padding: 2px;
  background-color: #C0E403;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
  
}
