<p>
  <b>Name:</b>
  <%=h @language.name %>
</p>

<p>
  <b>Short name:</b>
  <%=h @language.short_name %>
</p>


<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>