<br>
<center>

<h2>User Profile</h2>

<div class="centerFieldset"
<fieldset style="width: 400px">

<p>
  <b>Username:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>


<div align=right>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>

</fieldset>
</center>