<div id="active_chats">
	<strong>Active Chats </strong>
	<% for chat in chats %>
		<%= link_to (chat.user_id == current_user.id ? chat.receiver.login : chat.user.login) + (chat.details_for(current_user)[:unread_count] != 0 ? "[#{chat.details_for(current_user)[:unread_count]}]" : ''), chat %>
	<% end %>
</div>