

  <div id="wus_header">
    <div id="logo">
      <h1><img src="../../images/WUS_logo.jpg" alt="WUS" width="70" height="70" /> Whatever You Say v1.0 </h1>
      <div><b>RoR web based instant messenger</b></div>
    </div>
  </div>

