<tr id="message_<%= message.id %>">
	<td>
		<b><%= message.sender.login.titleize %>:</b>
	</td>
	<td>
		<%= message.body %>
	</td>
</tr>
<% if (defined? highlight) && (highlight == true) -%>
	<script>new Effect.Highlight('message_<%=message.id%>');</script>
<% end -%>