<div id="chats_panel">
	<h2>Chats Log</h2>
	<table id="chats_table">
	<% for chat in @chats %>
	  <tr class='<%= cycle 'grey', 'white' %>'>
			<td><%= link_to image_tag('/images/comment_yellow.gif'), chat, :title => 'View Chat' %></td>
    	<td><%= link_to image_tag('/images/comment_delete.gif'), chat, :confirm => 'Are you sure you want to end this chat?', :method => :delete, :title => 'End Chat' %></td>
	    <td style="width:100%"><%= link_to !session[:user_id].nil? ? (chat.user_id == session[:user_id] ? chat.receiver.login : chat.user.login) : "#{chat.user.login} > #{chat.receiver.login}", chat, :title => 'View Chat' %></td>
	  </tr>
	<% end %>
	</table>
</div>