

<br>
<h2>Currently Active Chats</h2><br>

<table width="200" bgcolor="#CCCCCC">
  <tr>
    
  </tr>
<% for chat in @chats %>
  <tr>
    <td><%= !session[:user_id].nil? ? (chat.user_id == session[:user_id] ? chat.receiver.login : chat.user.login) : "#{chat.user.login} > #{chat.receiver.login}" %></td>
    <td><%= link_to 'Show', chat %></td>
    <td><%= link_to 'End', chat, :confirm => 'Are you sure you want to delete this chat?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New chat', new_chat_path %>
